# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*credentials*

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

hosts
